@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Clinic Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/css/animate.min.css" rel="stylesheet">
    <link href="~/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/css/twentytwenty.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
    <style>
        Body {
            font-family: Calibri, Helvetica, sans-serif;
            background-color: gray;
        }

        button {
            background-color: black;
            width: 40%;
            color: white;
            padding: 15px;
            margin: 10px 0px;
            border: none;
            cursor: pointer;
        }
        .image{
        position:relative;
        }
        .image img{
        width:100%;
        height:80%;        
        }
        .textimg{
        position:absolute;
        top:25%;
        left:20px;
        color:white;
        padding:10px;
        }
        .textimg h4{
        color: white;
        font-size:26px;
        text-transform:uppercase;
        font-weight:bold;       
        }
       
        button:hover {
            opacity: 0.7;
        }

     
    </style>
</head>

<body>
    <div class="image">
        <img src="~/Img/pxfuel (3).jpg" />
        <div class="textimg">
            <h4>Heart disease:<br> Eat a heart-healthy diet,<br> exercise regularly,<br> and don't smoke.</h4>           
        </div>

    </div>
    <br>
    <div class="image">
        <img src="~/Img/pxfuel (4).jpg" />
        <div class="textimg">
            <h4 style="color :black;">Cancer:<br> Get regular cancer screenings,<br> eat a healthy diet,<br> and don't smoke</h4>
        </div>

    </div>
    <br>
    <div class="image">
        <img src="~/Img/pxfuel (5).jpg" />
        <div class="textimg">
            <h4 style="color :black;">Diabetes:<br> Eat a healthy diet,<br> exercise regularly,<br> and take your medication as prescribed.</h4>
        </div>

    </div>
    <br>
    <div class="image">
        <img src="~/Img/fs-stroke.jpg" />
        <div class="textimg">
            <h4>Stroke:<br> Eat a heart-healthy diet,<br> exercise regularly,<br> and don't smoke.</h4>
        </div>

    </div>
    <br>
    <div class="image">
        <img src="~/Img/shutterstock_1409500496-e1604669942103.webp" />
        <div class="textimg">
            <h4>Alzheimer's disease:<br> Stay mentally and physically active,<br> and eat a healthy diet.</h4>
        </div>

    </div>
    <br>
    <div class="image">
        <img src="~/Img/LNP-Banner-images-1800-x-1125-6-3-1024x640.jpg" />
        <div class="textimg">
            <h4>Parkinson's disease:<br> Exercise regularly,<br> eat a healthy diet,<br> and get enough sleep.</h4>
        </div>

    </div>
    <br>
    <div class="image">
        <img src="~/Img/Osteoporosis-Blog-Image-2.jpg" />
        <div class="textimg">
            <h4>Osteoporosis:<br> Exercise regularly, <br>eat a healthy diet,<br> and get enough calcium and vitamin D.</h4>
        </div>

    </div>
    <br>
    <div class="image">
        <img src="~/Img/what-is-depression.jpg" />
        <div class="textimg">
            <h4>Depression:<br> Talk to a therapist or counselor,<br> and take medication if prescribed.</h4>
        </div>

    </div>
    <br>
    <div class="image">
        <img src="~/Img/anxiety-topic-page-tile_tcm7-308512.jpg" />
        <div class="textimg">
            <h4 style="color :black;">Anxiety:<br> Talk to a therapist or counselor,<br> and take medication if prescribed.</h4>
        </div>

    </div>
    <br>
    <div class="image">
        <img src="~/Img/stress-main.png" />
        <div class="textimg">
            <h4>Stress:<br> Exercise regularly, <br>get enough sleep,<br> and practice relaxation techniques.</h4>
        </div>

    </div>

    <br>
    <div>
        <center>
            <a href="Home/Reservation">
                <button>
                    Reservation now
                </button>
            </a>
        </center>
    </div>
    <br>
</body>

</html>
